@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
  
   
}


:root {
    --cor-primaria: #323232;
    --cor-secundaria: #483D44;
    --cor-terceira: #000000;
    --tamanho-fonte: 16px;


    --estilo-fonte-1: 'Arial', sans-serif;
    --estilo-fonte-2: 'Arial', sans-serif;
    --estilo-fonte-3: 'Arial', sans-serif;
  }



 /* exemplo font-family: var(--estilo-fonte-1) */




 /*HEADER*/


header {
    background-color: var(--cor-primaria);
   
}



.head-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    width: 50px;
    margin: auto;
    display: none;
    transition: 0.3s ease;
   
}

.menu-button:hover {
    filter: opacity(50%);
}

.lista-cb2 {
    display: none;
}

@media only screen and (max-width: 1182px) {
    .paiCabeçalho{
        display: none;
        z-index: 1;
        width: 100%;
        background-color: var(--cor-primaria);
      
    }

    .paiCabeçalho .lista-cb2 {
        padding-bottom: 90px;
    }

    .head-back .logo{
        margin: auto;
    }
    .lista-cb2 {
        text-align: center;
        display: block;
        margin: auto;
     
       
    }

    .lista-cb2 li {
        padding:20px;
        list-style: none;
    }

    .paiCabeçalho .youtube {
        background-color: red; 
        margin: auto;  
        width: 30%; 
        border-radius: 50px;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
    }


    .paiCabeçalho .ped {
        
        border-bottom: 1px solid rgba(0, 0, 0, 0.507);
    }

    .paiCabeçalho .doe {
        margin-top: 20px;
        background-color: red; 
        margin: auto;  
        width: 30%; 
        border-radius: 50px;
        padding: 10px; 
        margin-bottom: -60px;  
    }
     .paiCabeçalho .doe {
        
        background-color: rgb(255, 153, 0);    
    }

    .paiCabeçalho  li  {
        border-top: 1px solid #181818;
          
    }

    .lista-cb2 li:hover {
        background-color: #070707;
       
    }


    .lista-cb2 > li >  a {
        width: 100%; 
       
    }



    
    .head-back {
        display: block;
        
       
    }


    
    .menu-button {
        width: 30px;
        margin: auto;
        display: block;
        z-index: 1;
        margin-bottom: -50;
        transition: 0.3s ease;

    }

    #cabeçalho {
       display: none;
       position: absolute;
       z-index: 1;
       width: 100%;
       
    }

   #cabeçalho > .lista-cb  {
    display: block;
    text-align: center; 
    padding: 20px;
    background-color: #2b2b2b;
}   

.lista-cb {
   margin: 0px;
  
}

.lista-cb2 .doe a {
    color: #000000;
    font-weight: bold;
}

.lista-cb2 .doe:hover {
    background-color: #ffffff;
}
    .logo { 
    text-align: center;   
    }
    .fundo-button {
        background-color: #8a8a8a;
    }
  
     
  }

.logo {
    margin-right: 10%;
    padding: 30px 0px;
}

@media only screen and (min-width: 1182px) and (max-width: 1442px) {
    .logo img {
        margin-left: 10%;
    }  

    #cabeçalho {
        margin-left: 0%;
        width: 90%;
    }
  }

  @media only screen and (min-width: 1182px) and (max-width: 1307px) {
    .logo img {
        margin-left: 10%;
    }  
 
    #cabeçalho {
        width: 90%;
    }
  }
  @media only screen and (max-width: 1137px) {
    .logo img {
        margin-right: 0%;
    }  
    #cabeçalho {
        width: 90%;
    }
  }

.lista-cb {
    display: flex;
    align-items: center;
    
   
   
}

.lista-cb > li , a {
    font-family: var(--estilo-fonte-1);
    padding: 10px;
    list-style: none;
    color: white;
    text-decoration: none;
}

.lista-cb > .youtube {

  border-radius: 20px;
  padding: 0px;
  margin-right: 10px;
  background-color: rgb(255, 0, 0);
}


.lista-cb > .doe {
    
    border-radius: 20px;
    padding: 0px;
  
    background-color: rgb(255, 153, 0);
}
.lista-cb > .doe > a {
    display: flex;
    color: black;
    font-weight: bold;
}

.lista-cb > .youtube> a {
    display: flex;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.lista-cb > li > a:hover{
   color: yellow;
   background-color: #070707;
   border-radius: 20px;
}

.lista-cb > .youtube > a:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 20px;
 }

 .lista-cb > .doe > a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 20px;
 }


/*section*/

#slide {
    width:100%;
    height: 370px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #070707;
    
}


.slides {
    width: 400%;
    height: 300px;
    display: flex;
    
}


.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 1s;   
}
.slide img{
    height: 125%;
    width: 100%;
}
.manual-navigation {
    position:absolute;  
    width: 100%;  
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    z-index: 2;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
   
}

#radio2:checked ~ .first{
    margin-left: -25%;
}


#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  
    
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto > .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto > .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto > .auto-btn3 {
    background-color: #FFF;
}


.mensagem {
    position: absolute;
    margin-top: -3%;
    width: 30%;
    height: 100px;
    
    color: white;
   
    font-family: var(--estilo-fonte-1);
    z-index: 1;
}

.mensagem h1 {
    padding: 10px;
    background-image: linear-gradient(to right, black 98%,rgb(255, 217, 0) 5%);
}

.mensagem h2 {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(255, 255, 255) 98%,rgb(255, 217, 0) 5%);
}

@media only screen and (max-width: 1600px){
    .mensagem {
        position: absolute;
        margin-top: -6%;
        width: 30%;
        height: 100px;
        
        color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.300);
        font-family: var(--estilo-fonte-1);
        z-index: 1;
    }

    .mensagem h1 {
        padding: 10px;
        background-image: linear-gradient(to right, black 98%,rgb(255, 217, 0) 5%);
    }
    
    .mensagem h2 {
        color: rgb(0, 0, 0);
        background-image: linear-gradient(to right, rgb(255, 255, 255) 98%,rgb(255, 217, 0) 5%);
    }
}


@media only screen and (max-width: 1182px){

        #slide {
            
            margin-bottom: 150px;
        }

        .mensagem {
            
            width: 100%;
            margin: auto;
            display: block;
            margin-top: 10%;
        }
    .mensagem .text1 {
        text-align: center;
        height: 50px;
        justify-content: center;
        color: white;
        margin: auto;
        font-family: var(--estilo-fonte-1);
        z-index: 1;
    }
    .mensagem  .text1 h1{
       
        font-size: 32px;
        margin: auto;
        transition: 1s;
    }

    .mensagem  .text1 h2{
        font-size: 32px;
        margin: auto;
        transition: 1s;
        
        
    }
}
.text1 > h1{
    font-size: 32px;
    margin-left: 10%;
    transition: 1s;
}
.text1 > .texto2{
    font-size: 32px;
    margin-left: 10%;
    transition: 1s;
    transform: translateY(10);
    
}



/*--------------------*/

/*main*/
main {
   
}

.main-back {
    width: 850px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow:5px 2px 10px #00000002;
    padding: 50px 150px;
    border-left: 1px solid rgba(0, 0, 0, 0.301);
    border-right: 1px solid rgba(0, 0, 0, 0.301);
    background-color: white;
    

}


.main-back h1, h2, p {
    padding: 5px;
    line-height: 30px;
    font-family: var(--estilo-fonte-1);
}

.main-back div h1,h2 {
    margin-left: -100px;
   
}
.main-back .subtitulo {
    margin-bottom: 50px;
    color: #323232;
}


.artigo-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}



.artigo-1 div {
    width: 400px;
    height: 550px;
    margin: 30px;

}

.artigo-1 .a1 img {
    background-size: cover;
    width: 300px;
    height: 60%;
    margin-left: 10px;
    margin-bottom: 20px;
    
}

.artigo-1 .a1 h2,p {
    text-align: left;
    margin-left: 20px;
    color: rgb(46, 46, 46);
    transition: 0.5s;
}

.a1 p {
    margin-left: 20px;
    width: 300px;
    font-weight: bold;
    color: #585858;
    flex-direction: column-reverse;
}

.artigo-1  p:hover{
    color: #20a6ff;

}

.artigo-1  h2:hover{
    color: #20a6ff;
}


@media only screen and (max-width: 1182px){
    .artigo-2  #a2-3{
        display: none;
    }

    .artigo-1  #a1-3{
        display: none;
    }

    .main-back {
        width: 450px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow:5px 2px 10px #00000031;
        padding: 50px 150px;
        border-left: 1px solid rgba(0, 0, 0, 0.301);
        border-right: 1px solid rgba(0, 0, 0, 0.301);
        background-color: white;

    }

   
}

.subtitulo1 {
    font-size: 3em; 
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px){
    
    .main-back {
        width: 80px;
        margin: auto;
        margin-bottom: 40px;
        padding: 50px 150px;
      
        box-shadow: none;
        background-color: #ffffff;
       
    }
    .sub {
        margin-left: 50px;
        text-align: center;
        margin-bottom: -50px;
        margin-top: -60px;
        
    }
    .sub  h2{
        margin-left: -70px;
        text-align: center;
        margin-bottom: -50px;
        
    }

    .artigo-1  #a1-2 {
        display: none;
        
    }

    .artigo-2  #a2-2 {
        display: none;
    }

   
}
.artigo-2 {
    display: flex;
    justify-content: center;

}

.artigo-2 div {
   
   
    width: 400px;
    height: 550px;
    margin: 30px;
}

.artigo-2 .a2 h2,p {
    text-align: left;
    margin-left: 20px;
    color: rgb(46, 46, 46);
    transition: 0.5s;
}

.artigo-2  p:hover{
    color: #20a6ff;

}

.artigo-2  h2:hover{
    color: #20a6ff;
}

.a2 p {
    margin-left: 20px;
    font-weight: bold;
    color: #585858;
    width: 300px;
}

.artigo-2 .a2 img {
    background-size: cover;
    width: 300px;
    height: 60%;
    margin-left: 10px;
    margin-bottom: 20px;
    
}
/*------------------------*/




/*FOOTER*/
@media only screen and (max-width: 500px) {
    footer {
        width: 100%;
        height: 120px;
        padding-bottom: 20px;
        background-color: var(--cor-primaria);
    }

  
}

footer {
    width: 100%;
    height: 120px;
    background-color: var(--cor-primaria);
}

.info ul {
    
    display: flex;
    justify-content:center;
    justify-items: center;
    
}

.info li {
    
    font-family: var(--estilo-fonte-1);
    padding: 5px;
    margin-top: 30px;
    font-size: 1.1em;
    color:white;
    text-decoration: none;
    list-style: none;
}
.info p {
    font-family: var(--estilo-fonte-1);
    text-align: center;
    color: white;
    
}

.info .youtube2:not(:last-child) {
   
    border-radius: 30px;
    margin-right: 10px;
}

.info > ul > .youtube2  {
    
    background-color: red;
    border-radius: 30px;
    transition: 0.5s ease;
}

.info  .youtube2:hover {
    background-color: #181818;
}

.info > ul > .doe2  {
    background-color: rgb(255, 196, 0);
    border-radius: 30px;
    transition: 0.5s ease;   
}

.info  .doe2:hover {
    background-color: #ffffff;
}


.link2 {
    color: rgb(48, 48, 48);
    font-weight: bold;
}

.esp {
    margin-left: 5px;
    margin-right:10px;
}

.quem-somos a {
    color: #ffffff; /* Cor branca */
    transition: color 0.5s ease; /* Transição suave para a cor em 1 segundo */
    
}

.quem-somos a:hover {
    color: #8a8a8a; /* Cor quando o mouse passa por cima */
}

/*------------------------*/




/*VIDEOS DIV*/


@media only screen and (max-width: 1182px){
    #video-back .videos {
        margin: auto;
        padding: 20px;
        text-align: center;
        width: 600px;
       
    }

    .videos .navigation .button1{
        position: absolute;
        margin-top: 340px;
        padding:    10px;
        margin-left: -60px;
        background: none;
        border: none;
        border-radius: 5px;
        transition: 0.5s ease;
        background-color: #20a6ff;
    
    }
    .videos  .navigation  .button2{
        position: absolute;
        margin-top: 340px;
        padding:    10px;
        margin-left: 20px;
        background: none;
        border: none;
        border-radius: 5px;
        transition: 0.5s ease;
        background-color: #20a6ff;
    }
    
}

@media only screen and (max-width: 700px){
    #video-back .videos {
        margin: auto;
        padding: 20px;
        text-align: center;
        width: 300px;
       
    }

    
}

#video-back {
    background-color: black;
    margin: 30px 0px;
    padding: 40px;
}
.videos {
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 970px;
}

.videos h1 {
    color: white;
    font-family: var(--estilo-fonte-1);
}

.video-container {
    overflow: hidden;
}

#videoListContainer {
    display: flex;
    transition: transform 0.5s ease;
}

#videoList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 30px 0px;
}

#videoList li {
   
    margin: 0 10px;
}

.navigation .button1{
    position: absolute;
    margin-top: 100px;
    padding:30px ;
    margin-left: -600px;
    background: none;
    border: none;
      transition: 0.5s ease;

}
.navigation  .button2{
    position: absolute;
    margin-top: 100px;
    padding:30px ;
    margin-left: 495px;
    background: none;
    border: none;
    transition: 0.5s ease;
}

.button1 img {
    transition: 0.5s ease;
}

.button2 img {
    transition: 0.5s ease;
}

.button1 img:hover {
    filter: opacity(50%);
  
}

.button2 img:hover {
    filter: opacity(50%);
    
  
}

#videoList > li > h2,p{
    margin: 0;
    text-align: left;
    color: white;
    cursor: pointer;
   
}


#videoList > li > h2 a,p a{
    transition: 0.5s ease;  
      
 
   
}
#videoList > li > h2 a:hover,p a:hover{
    color: rgb(238, 194, 0);
 
   
}





/*------------------------*/


/*DIV ORAÇÃO  formulario1*/
@media only screen and (max-width: 1182px){
    .container-org-1 .text-oração{
        display: none;
    }
       
    .container-oraçao .formulario {
        margin-right: 100px;
        padding-top: 90px;
        margin-left: 100px;
       
    }
    
}

@media only screen and (max-width: 630px){
    .container-org-1 .text-oração{
        display: none;
    }
       
    .container-oraçao .formulario {
        margin-right: 100px;
        padding-top: 90px;
        margin-left: 100px;
 
    }

    .container-oraçao  .nome,.container-oraçao  .oração {
        width: 150px;
        padding: 10px;
        outline: none;
 
    }
    
    .container-oraçao .nome {
        border:none;
        width: 129px;
        margin-right: 8px;
        margin-left: 40px; 
    }
    .container-oraçao .cidade,
    .container-oraçao .number,
    .container-oraçao .email {
        
        width: 300px;
        padding: 10px;
        margin: 10px;
        outline: none;
        border:none;
        margin-left: 40px;  
    }

    .container-oraçao .textarea {
        margin-left: 40px; 
        width: 304px;
    
}
    .container-oraçao .btn-enviar {
        margin-left: 40px; 
    }
    

    .container-oraçao .container-formulario {
        border-radius: 0px 0px 5px 5px;
        width: 400px;
        background-color: #fffcfc4b;
        
    }
    
    .container-oraçao .container-nome {
        border-radius: 5px 5px 0px 0px;
        width: 400px;
        background-color: #ffffff4b;
    }

}


.container-org-1{
   
    height: 800px;
    display: flex;
    justify-content: center;
   
}

.text-oração {
    width: px;
   
    height: 300px;
    padding: 20px;

    color: white;
    font-family: var(--estilo-fonte-1);
  

    background-color: #323232b4;
    margin-top: 240px;
    margin-left: 100px;
    border-radius: 10px;
 
}


.text-oração  h1 {
    margin-bottom: 20px;
    width: 300px;
  }
.text-oração  p {
  line-height: 40px;
  width: 300px;
}





.mtv {
    display: none;
}

.container-oraçao {
    background-image: url(image/background/oracao.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    
}
.formulario {
    margin-right: 100px;
    padding-top: 90px;
    margin-left: 200px;
   
}


.nome, .oração {
    width: 215px;
    padding: 10px;
    margin: 10px;
    outline: none;
    
}

.nome {
    border:none;
    margin-left: 63px;
}
.cidade , .number, .email {
    width: 455px;
    padding: 10px;
    margin: 10px;
    outline: none;
    border:none;
    margin-left: 63px; 
}

.cidade:focus,
.number:focus,
.email:focus,
.nome:focus,
.textarea:focus {
    background-color: #e7e7e7;
}

.btn-enviar:active {
    background-color: rgb(54, 198, 255);
}

.number[type="number"]::-webkit-inner-spin-button,
.number[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para outros navegadores */
.number[type="number"] {
    -moz-appearance: textfield;
}

.textarea {
    font-family: var(--estilo-fonte-1);
    font-size: 18px;
    width: 455px;
    padding: 7px;
    margin: 10px;
    outline: none;
    margin-left: 63px;
    resize: none;
} 

.btn-enviar {
    margin: 10px;
    padding: 10px 30px;
    margin-bottom: 30px;
    color: white;
    background-color: #20a6ff;
    outline: none;
    border: none;
    margin-left: 63px;
}

.container-nome  > h1 {
    color: white;
    font-family: var(--estilo-fonte-1);
    margin-left: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 63px;
}

.container-formulario {
    border-radius: 0px 0px 10px 10px ;
    width: 605px;
    background-color: #fffcfc4b;
}

.container-nome {
    border-radius: 10px 10px 0px 0px;
    width: 605px;
    background-color: #ffffff4b;
}

/*------------------------*/

/*DIV EMAIL*/



.container-email #icapt-email:focus{
    background-color: #e7e7e7
     
    
}

.container-email #submit-3{
    
    background-color: #20a6ff;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 10px 40px; 
   
}

.submit-2:hover{
    background-color: #4bb7ff;
}

.container-email > div > h1 {
    padding-top: 80px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-family: var(--estilo-fonte-1);
}

.container-email > div > form {
    
    display: flex;
    justify-content: center;
   
}


@media only screen and (max-width: 600px) {
    .container-email .ema   {
        width: 50px;
        margin: auto; 
    }
}
.container-email {
   
    height: 300px;
    margin: 30px 0px;
    background-color: var(--cor-primaria);
}

.container-email #icapt-email{
    width: 300px;
    outline: none;
    border: none;
    padding: 10px 20px;  
    
}


/*------------------------*/


/*DOAÇÃO */

/*bloco 1*/
.paraDoe {
    display: block;
     width: 300px;
}

.para2doe {
    display: block;
}

@media only screen and (max-width: 1055px) {
    .container-doaçao .back-doe .doacao-bloco-1 {
        font-family: var(--estilo-fonte-1);
        display: block;
        margin: auto;
        text-align: center;
        
    }
    
    .container-doaçao .back-doe {
        display: block;
    }
   .doacao-bloco-1 .doe-text3 {
        display: block;
        text-align: center;
        margin: auto;   
    }
   .doe-text3 .paraDoe  {
        text-align: center;
        margin: auto;
        display: block;
     }
  .doacao-bloco-1 .doe-text3 h1 {
        display: block;
        position:static;
     }

     .site-seguro h2 {
        display: block;
        margin: auto;
        text-align: center;
        margin-right: 80px;
        margin-top: 30px;
        font-size: 18px;
     }

     /*bloco  12*/



.container-doaçao .doacao-bloco-2 {
    
    font-family: var(--estilo-fonte-1);
    display: block;
    justify-content: center;
}

.container-doaçao  .doe-texto-2 {
    text-align: center;
    margin: auto;
    margin-top: 30px;  
}

.container-doaçao  .doe-texto-2  h2 {
   margin-right: 20px;
}
.container-doaçao  .doe-texto-2  p {
    text-align: center;
 }





.doacao-bloco-2 .QR {
    margin-top: 100px;
    display: block;
    text-align: center; 
}

.QR .para2doe {
    text-align: center;
    margin: auto;
}

/*BLOCO 3*/



.container-doaçao .doacao-bloco-3 {
    font-family: var(--estilo-fonte-1);
    display: block;

}

.doacao-bloco-3 .doe-texto-3 {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 1em;
}

.container-doaçao .doe-texto-3 p {
    margin-top: 20px;
    text-align: center;
}


.container-doaçao .what {
    margin-top: 100px;
    color: white;
    text-align: center;
}
.container-doaçao .what  p{
    margin-top: 20px;
    font-size: 32px;
    color: white;
    text-align: center;
}

.what h2 {
    color: rgb(0, 238, 255);
    margin: 0%;

}


}

@media only screen and (max-width: 1055px) {
    .doacao-bloco-3 .doe-texto-3{
        display: none;
    }
    .doacao-bloco-3 .what {
        display: none;
    }


    .doacao-bloco-2 .doe-texto-2{
        font-size: 0.8em;
       
    }

    .doacao-bloco-2  .QR{
        margin-top: 30px;
        border-top: 1px solid white;
        padding-top: 50px;
    }
    
}


.container-doaçao {
    background-image: url(image/background/doa.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30px;
     padding-top: 30px;
}

.back-doe {
    width: 80%;
    padding: 50px 0px;
    background-color:#585858d2;
    border-radius: 10px;
    margin: auto;
   
}

.doacao-bloco-1 {
    font-family: var(--estilo-fonte-1);
    display: flex;
    justify-content: center;
    
}

.doe-texto-1 {
    display: flex;  
}
.doe-text3 h1{
    position:absolute;
    display: block;
    font-size: 4em;
    margin-left: 0px;
    color:rgb(219, 219, 219);
     
}

.doe-text3 p{
    display: block;
    width: 300px;
    margin-left: 130px;
}

.site-seguro h2{
    margin-left: 100px;
     color:rgb(219, 219, 219)
}

.site-seguro img {
    width: 30px;
}



/*bloco  12*/



.doacao-bloco-2 {
    
    font-family: var(--estilo-fonte-1);
    display: flex;
    justify-content: center;
}

.doe-texto-2 {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 0px;
}

.doe-texto-2  h1{
    color: rgb(0, 238, 255);
}

.doe-texto-2  h2{
    
    color: white;
    margin: 0;
    margin-top: 10px;
}

.doe-texto-2  p{
    
    color: white;
    margin: 0;
    font-size: 1.5em;
}

.QR {
    margin-top: 100px;
    display: flex;
    
}

.QR p {
   
   
    margin-left: 20px;
    width: 150px;
}



/*BLOCO 3*/



.doacao-bloco-3 {
    font-family: var(--estilo-fonte-1);
    display: flex;
    justify-content:center; 
}

.doe-texto-3 {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 100px;
    color: white;
    font-size: 1em;
}

.doe-texto-3 h2 {
    margin: 0;
}

.what {
    margin-top: 100px;
    color: white;
   

}

.what h2 {
    color: rgb(0, 238, 255);
    margin: 0%;

}



/*------------------------*/